/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  /*
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  */
  background-color: grey;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

/*
.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
*/

.menu > div > ul {
  list-style: none;
  border-bottom: 0.1em solid black;
  /*
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  */
  border: 1px solid green;
  height: 15px;
  width: 100px;
  background-color: green;
}

.menu > div > ul > li {
  border-bottom: 0.1em solid black;
  /*
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  */
  border: 1px solid orange;
  background-color: orange;
}

.title {
  width: 200px;
}

.menu > div {
  display: inline;
  float: left;
  height: 15px;
  border: 1px solid purple;
  background-color: purple;
}

.menu > div:before {
  content: "|";
  padding-right: 0.3em;
  float: left;
}

.menu > div:nth-child(1):before {
  content: "";
  padding: 0;
  float: left;
}

.correct {
  color: green;
}

.checkMark {
  width: 15px;
  height: 15px;
}

#eulerCanvas {
  position: relative;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding: 10px;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.font24 {
  font-size: 24px;
}

.font18 {
  font-size: 18px;
}

.font14 {
  font-size: 14px;
}

#inputForm {
  position: relative;
  left: 0px;
  height: 25px;
}

#inputNumber {
  position: absolute;
  left: 10px;
}

#answer {
  position: absolute;
  right: 10px;
}
