<div id="eulerCanvas">
  <span class="bold font24">Euler Problem: {{problem}}</span>
  <div>
    <div>
      <blockquote>
        <span class="bold font14">Did you know?</span>
        <p>
        <div ng-Repeat="explanationLine in explanation">{{explanationLine}}<p></div>
      </blockquote>
    </div>
    <p>
    <div>
      <blockquote>
        <span class="bold font14">Challenge:</span>
        <p>
        <div ng-bind-html="challenge"></div>
      </blockquote>
    </div>
    <div id="inputForm">
      <div id="inputNumber">
        <form ng-Submit="calculateAnswer()">
          <div><span>New number: </span><span><input ng-Model="inputNumber" ng-Change="calculateAnswer()"></span></div>
        </form>
      </div>
      <div id="answer">When the input number is <bp-input-number></bp-input-number> then the answer is: <span ng-Bind="answer"></span></div>
    </div>
    <bp-problem-solved></bp-problem-solved>
    <div><span>Counter Effeciency: </span><span ng-Bind="counter"></span></div>
  </div>
</div>
