<p>Euler Problem {{problem}}</p>
<div>
  <div>
    <blockquote>
      <div ng-Repeat="explanationLine in explanation">{{explanationLine}}<p></div>
    </blockquote>
  </div>
  <p>
  <div ng-bind-html="challenge"></div>
  <p>
  <div>
    <form ng-Submit="calculateAnswer()">
      <div><span>Input: </span><span><input bp-problem-solved ng-Model="inputNumber" ng-Change="calculateAnswer()"></span></div>
    </form>
  </div>
  <div>Answer: <span ng-Bind="answer"></span></div>
  <div><span>Correct: </span><span ng-Class="{correct: answered}" ng-Bind="validated"></span></div>
  <div><span>Counter Effeciency: </span><span ng-Bind="counter"></span></div>
  <div><span>Timer: </span><span ng-Bind="timer"></span> milliseconds</div>
</div>
